* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{ height: 100%;}

.sidebar {
    float:left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000;
}

.sidebar-wraper {
    padding-bottom: 200px;
}

.sidebar__menu {
    margin: 20px 0;
    color: rgb(190,190,190);
}

.sidebar__logo img {
    max-width: 250px;
    width: 100%;
    padding:20px;
}

.sidebar__menu a {
    color: rgb(190,190,190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
}
.sidebar__menu a:hover{
    background-color:rgb(90,90,90);
    color:#fff;
    border-radius: 5px;
}

.sidebar__menu i {
    margin: 0 20px;
}

.sidebar a.sidebar__menu__active {
    background-color:rgb(90,90,90);
    color:#fff;
    border-radius: 5px;
}

.sidebar__menu__item {
    margin-top:12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar__menu__item i {
    background-color:rgb(90,90,90);
    padding:10px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
}

.sidebar__menu p.sidebar__menu__title {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 20px;   
}

.sidebar__playlists {
    padding: 20px 0;
    border-top: 1px solid rgb(40,40,40);
}

.sidebar__playlists a {
    margin: 10px 0;
    display: block;
    color: rgb(190,190,190);
    text-decoration: none;
}

.sidebar__playlists a:hover {
    color: white;
}
